<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="password" type="password" placeholder="비밀번호"/>
            <p id="button">LOG IN</p>
            <p class="message">아직 MBTI 검사를 하지 않았다면 <a href="/test">MBTI test</a></p>
          </form>
        </div>
      </div>
      <script src="/js/login.js"></script>
</body>
</html>