<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="password" type="password" placeholder="비밀번호"/>
            <input id="confirm-password" type="password" placeholder="비밀번호 확인"/>
            <input id="name" type="text" placeholder="이름"/>
            <input id="mbti" type="text" placeholder="MBTI"/>
            <input id="about" name="text" style=height:200px; placeholder="나이, 취미, SNS 등 자유로운 소개글"></input>
          
            <p id="button">SIGN UP</p>
            <p class="message">이미 아이디가 있다면 <a href="/login">LOGIN</a></p>

          </form>
        </div>
      </div>
      <script src="/js/signup.js"></script>

</body>
</html>