<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ENFJ</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">정의로운 사회운동가</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ENFJ.png">
    </div>
        <p style="font-size: 20px; text-align: center">넘치는 카리스마와 영향력으로 청중을 압도하는 리더형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ENFJ')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/ISTP'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>