<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ENFP</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">재기발랄한 활동가</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ENFP.png">
    </div>
        <p style="font-size: 20px; text-align: center">창의적이며 항상 웃을 거리를 찾아다니는 활발한 성격으로 사람들과 자유롭게 어울리기를 좋아하는 넘치는 열정의 소유자</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ENFP')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/INTJ'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>