<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ENTJ</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">대담한 통솔자</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ENTJ.png">
    </div>
        <p style="font-size: 20px; text-align: center">대담하면서도 상상력이 풍부한 강한 의지의 소유자로 다양한 방법을 모색하거나 여의치 않을 경우 새로운 방안을 창출하는 리더형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ENTJ')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/isfp'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>