<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ESFP</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">자유로운 영혼의 연예인</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ESFP.png">
    </div>
        <p style="font-size: 20px; text-align: center">주위에 있으면 인생이 지루할 새가 없을 정도로 즉흥적이며 열정과 에너지가 넘치는 연예인형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ESFP')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/INTJ'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>