<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ESTJ</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">엄격한 관리자</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ESTJ.png">
    </div>
        <p style="font-size: 20px; text-align: center">사물이나 사람을 관리하는 데 타의 추종을 불허하는 뛰어난 실력을 갖춘 관리자형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ESTJ')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/INFP'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>