<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ESTP</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">모험을 즐기는 사업가</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ESTP.png">
    </div>
        <p style="font-size: 20px; text-align: center">벼랑 끝의 아슬아슬한 삶을 진정으로 즐길 줄 아는 이들로 명석한 두뇌와 에너지, 그리고 뛰어난 직관력을 가지고 있는 유형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ESTP')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/INFJ'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>