<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
    <script src="/js/results.js"></script>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">ISFP</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">호기심 많은 예술가</p>
    </div>
    <div>
        <img style="margin: 0px auto;" src="../images/ISFP.png">
    </div>
        <p style="font-size: 20px; text-align: center">항시 새로운 것을 찾아 시도하거나 도전할 준비가 되어 있는 융통성 있는 성격의 매력 넘치는 예술가형</p>
    </div>
    <div class="main-nav" >
        <li><a onclick="showFriends('ISFP')">이 유형에 속하는 친구들 보러 가기!</a></li>

        <li><a onclick="location.href='/ENTJ'">이 유형과 환상조합 친구들 추천 받기!</a></li>

        </div>
</body>
</html>