<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">MBTI 해설을 확인하고 친구를 추천 받으세요</p>
    </div>
    <div class="main-nav" >
        <li><a class="mbti" onclick="location.href='/ENTP'">ENTP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ENTJ'">ENTJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ENFP'">ENFP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ENFJ'">ENFJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ESFP'">ESFP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ESFJ'">ESFJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ESTP'">ESTP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ESTP'">ESTP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/INTP'">INTP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/INTJ'">INTJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/INFP'">INFP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/INFJ'">INFJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ISFP'">ISFP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ISFJ'">ISFJ</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ISTP'">ISTP</a></li>
        <br><br><br><br>
        <li><a class="mbti" onclick="location.href='/ISTP'">INTP</a></li>
    </div>
</body>
</html>